[Interface]
Address = 10.254.0.1/24
PrivateKey = {{ server_private_key.stdout }}
ListenPort = 51820

## 
## STARTUP
## 
# STARTUP: Allow ListenPort
PostUp = iptables -I INPUT 1 -p udp --dport 51820 -j ACCEPT
PostUp = iptables -I OUTPUT 1 -p udp --sport 51820 -j ACCEPT
# STARTUP: Allow minecraft and forward to Peer
PostUp = iptables -I INPUT 1 -p tcp --dport 25565 -j ACCEPT
PostUp = iptables -I OUTPUT 1 -p tcp --sport 25565 -j ACCEPT
PostUp = iptables -D FORWARD -j REJECT --reject-with icmp-host-prohibited
PostUp = iptables -t nat -A PREROUTING -p tcp --dport 25565 -j DNAT --to-destination 10.254.0.2:25565
# STARTUP: Enable masquerading
PostUp = iptables -t nat -A POSTROUTING -o wg0 -j MASQUERADE

##
## SHUTDOWN
##
# SHUTDOWN: Drop ListenPort
PostDown = iptables -D INPUT -p udp --dport 51820 -j ACCEPT
PostDown = iptables -D OUTPUT -p udp --sport 51820 -j ACCEPT
# SHUTDOWN: Drop 25565 & Remove DNAT 
PostDown = iptables -D INPUT -p tcp --dport 25565 -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
PostDown = iptables -D OUTPUT -p tcp --sport 25565 -m conntrack --ctstate ESTABLISHED -j ACCEPT
PostDown = iptables -A FORWARD -j REJECT --reject-with icmp-host-prohibited
PostDown = iptables -t nat -D PREROUTING -p tcp --dport 25565 -j DNAT --to-destination 10.254.0.2:25565
# SHUTDOWN: Disable masquerading
PostDown = iptables -t nat -D POSTROUTING -o wg0 -j MASQUERADE

[Peer]
PublicKey = {{ client_public_key.stdout }}
AllowedIPs = 10.254.0.2/32
